@CHARSET "UTF-8";
*{margin:0;padding:0;font-size:12px;}
body{scrollbar-arrow-color:#ff6633;scrollbar-face-color:#ff9933;scrollbar-darkshadow-color:#ffcc66;scrollbar-highlight-color:#ffffcc;scrollbar-3dlight-color:#ff9900;scrollbar-shadow-color:#808080;scrollbar-track-color:#ffffff;}
.ad_container{height:120px;border:1px solid #000;margin:0 auto;position:relative;}
.ad_content{width:100%;position:relative;border:1px solid #000;height:100%;padding:0;overflow:scroll;}
.ad_content div{float:left;width:100%;height:100%;}
.ad_num_btn{position:absolute;top:65%;left:90%;}
.outer_container span{display:inline-block;}
.title_container{text-indent:2em;text-align:left;font:14px 微软雅黑, sans-serif;border-bottom:1px solid #ff9933;}
.container{width:100%;padding:0 0 0 0;margin:0 auto;position:relative;overflow:hidden;}
.container ul{list-style:none;padding:0 0 0 0;left:0;position:relative;overflow:hidden;/* white-space:nowrap;*/
}
.container li{float:left;margin:1px;width:150px;height:150px;}
.container li:hover{ border:1px solid #ffcc33;}
.container li img:hover{cursor:hand;}
.arrow_holder{float:left;width:38px;height:65px;background:red;position:absolute;top:51.5px;background:url(${home}/images/comm/album_ico.gif) -2px -14px no-repeat;}
.scrollbar-holder{float:left;background:#ced7db;color:#303030;height:3px;left:0px;overflow:hidden;position:absolute;right:0px;width:100%;}
.scrollbar-dark{position:absolute;background-color:#45a8ce;height:6px;width:369px;}
.search_input_wrap{border-bottom:#cdcdcd 1px solid;border-left:#9a9a9a 1px solid;width:418px;height:30px;display:inline-block;background:url(${home}/images/comm/search.png) no-repeat -304px 0px;border-top:#9a9a9a 1px solid;margin-right:5px;border-right:#cdcdcd 1px solid;}
.search_input_wrap .search_input{border-bottom:0px;border-left:0px;padding-bottom:0px;padding-left:0px;padding-right:0px;border-top:0px;border-right:0px;margin:5px 0px 0px 7px;outline-style:none;outline-color:invert;outline-width:medium;width:405px;font:16px/22px arial;background:#fff;height:22px;-webkit-appearance:none;}
.search_button_wrap{z-index:0;width:97px;display:inline-block;background:url(${home}/images/comm/search.png) no-repeat -202px 0px;height:34px;vertical-align:top;}
.search_button{border-bottom:0px;border-left:0px;padding-bottom:0px;padding-left:0px;padding-right:0px;border-top:0px;border-right:0px;padding-top:0px;width:95px;background:url(${home}/images/comm/search.png) #ddd;height:32px;font-size:14px;cursor:pointer;padding-top:2px;}
.search_button_h{background-position:-100px 0px;}


.Mores{border:1px solid #ffcc33;background:#fff url(../images/menuSed.gif) top repeat-x;position: relative;cursor: hand;}
#searchTable{
 margin-bottom: 10px;
}
.selectButton{
border-top:1px solid #ddd;border-right:1px solid #ddd;border-left:1px solid #ddd;background:#fff url(../images/menuSed.gif) top repeat-x;top:1px;position: relative;}
.orderButton{
cursor: pointer;}